*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/app/.gitignore
/.gitignore
/app/src/main/AndroidManifest.xml
/app/src/main/res/xml/backup_rules.xml
/app/build.gradle.kts
/build.gradle.kts
/app/src/main/java/com/nagma/mymusicapp/ui/theme/Color.kt
/app/src/main/res/values/colors.xml
/.idea/compiler.xml
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/androidTest/java/com/nagma/mymusicapp/ExampleInstrumentedTest.kt
/app/src/test/java/com/nagma/mymusicapp/ExampleUnitTest.kt
/gradle.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_launcher_foreground.xml
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/.idea/kotlinc.xml
/app/src/main/java/com/nagma/mymusicapp/MainActivity.kt
/.idea/misc.xml
/app/proguard-rules.pro
/settings.gradle.kts
/app/src/main/res/values/strings.xml
/app/src/main/java/com/nagma/mymusicapp/ui/theme/Theme.kt
/app/src/main/res/values/themes.xml
/app/src/main/java/com/nagma/mymusicapp/ui/theme/Type.kt
/.idea/vcs.xml
